@using QLBH_NQL.Models;
@model List<HOA>
<link href="~/Content/CssClient/CssTrangChu.css" rel="stylesheet" />
@{

    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="tieude">
    <img class="img-anh" src="~/Image/title1.jpg" alt="Tiêu đề sản phẩm" />
    <div class="name-title">Sản Phẩm Mới</div>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var Hoa in Model)
        {
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                <div class="customDiv">
                    <span class="new">Mới</span>
                    <img src='@Url.Content("~/Image/"+Hoa.ANHHOA)' alt="" class="img-responsive img-thumbnail">
                    <div class="xem"><a class="giohang" href="~/Home/ChiTietHoa?MAHOA=@Hoa.MAHOA">XEM HÀNG</a></div>
                    <div class="content text-center">
                        <h4 class="name">@Hoa.TENHOA</h4>
                        <p class="price">@Html.Action("FormatPrice", "Home", new { _strInput = Hoa.DONGIA }) VNĐ</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





