.picture {
    height: 400px;
    width: 100%;
    border: 1px solid rgba(255,39,93,1);
}

.logo {
    position: absolute;
    top: 10px;
    left: 30px;
}

.kichthuoc {
    width: 120px;
    height: 120px;
}

.logo-giohang {
    position: absolute;
    bottom: 20px;
    right: 70px;
}

    .logo-giohang a {
        font-weight: bold;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

.img-giohang {
    width: 35px;
    height: 35px;
}
