.picture1 {
    width: 400px;
    height: 400px;
}

.dungchung {
    margin-bottom: 10px;
    font-size: 25px;
}

.ten {
    margin-top: 40px;
}

.chitietsanpham {
    padding-top: 40px;
}

.trangthai {
    font-size: 20px;
}

.conhang {
    margin-left: 10px;
    padding: 8px;
    background-color: rgb(255, 128, 151);
    color: white;
}

.soluong {
    font-size: 20px;
}

.tien {
    font-size: 25px;
    color: red;
}

.ngang {
    border-bottom: 2px solid black;
}

.mota {
    height: 230px;
    font-size: 18px;
    font-style: oblique;
    text-align: justify;
}

.nhapsoluong {
    padding-left: 9px;
    overflow: visible;
    width: 70px;
}

.themvaogiohang {
    padding: 7px;
    text-decoration: none;
    color: white;
    background: rgb(255, 128, 151);
}

    .themvaogiohang:hover {
        color: rgb(255, 128, 151);
        background-color: white;
        border: 1px solid rgb(255, 128, 151);
        text-decoration: none;
    }

.cot {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hinh-ten {
    width: 60px;
    height: 100px;
    border-radius: 17px;
    float: left;
}

.hinh {
    width: 60px;
    height: 100px;
}

.noidungbl {
    width: 88%;
    height: 100px;
    padding: 5px;
    display: inline-block;
}

.nhanxet-huy {
    width: 97%;
    text-align: right;
}

.nhanxet {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin: 20px 0px;
}

.customp.ten {
    margin: 0px 3px 3px 3px;
    color: #128ee9;
    font-weight: bold;
}

.ngaygio {
    color: black;
    margin-left: 10px;
}

.nhapnd {
    width: 99%;
    height: 71px;
    padding: 5px;
}

.soluotxem {
    font-size: 14px;
}

.Sao {
    background-image: url(Image/trang.png);
    height: 24px;
    width: 24px;
}

.Vang {
    background-image: url(Image/vang.png);
    height: 24px;
    width: 24px;
}

.Trang {
    background-image: url(/Image/trang.png);
    height: 24px;
    width: 24px;
}

.Do {
    background-image: url(Image/do.png);
    height: 24px;
    width: 24px;
}

.tongsl {
    padding: 5px;
    line-height: 28px;
    margin-left: 6px;
    font-size: 15px;
}
